// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// src/css/quasar.variables.scss

// src/css/quasar.variables.scss

$primary: #7354fc;
$secondary: #7354fc20;
// $accent: #a14db0;
$accent: #937aff;

$dark: #383838;
$dark-page: #1a1a1a;

$positive: #05611a;
$negative: #962633;
$info: #a7c8cf;
$warning: #e8c051;

$separator-dark-color: rgba(0, 0, 0, 0.12);
$dark-shadow-color: #000;
$layout-shadow-dark: 0 0 10px 2px rgba(0, 0, 0, 0.2),
  0 0px 10px rgba(0, 0, 0, 0.24);
